
/*
Usar classe pois nem todas as li do site tem as configuracoes que essa
Precisamos transformar a lista em in line do que um block.

Porem ao inves de usar uma classe temos a tag nav. Importante estudar a semantica das tags.
*/


/*
nav li indica para aplicar isso dentro de todos os elementos que estao na tag nav e seja li


Visualmente queremos que nosso texto esteja em maiuscula. Porem semanticamente é melhor deixar ele em minusculo.



O ponto inicial de uma tag como por exemplo fim de h1 e inicio de nav chamamos de ponto estatico, porem para trocarmos de posicionamento podemos usar a posicion absolute ou relative porem é mais indicado a absolute. Pois ela trata o conteudo como algo a parte
*/


/*

A ideia é tratarmos a imagem e o menu como uma caixa que precisa ser centralizada. A web tem um padrao de wight de 940px. O menu é absouluto em relacao a caixa. Entre a margem e esse conteudo eu quero os 20px para cima


Cada um dos blocos tem um contexto proprio

*/

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: blue;
    text-decoration: underline;
}


.produtos{
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    width: 30%;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
}

.produtos li:hover{
    border-color: gray;
}

.produtos li:hover h2{
    font-size: 34px;
}

.produtos li:active{
    color: green;
}

.produtos h2{
    font-size: 30px;
    font-weight: bold;
}

.produtos-descricao{
    font-size: 18px;
}

.produtos-preco{
    font-size: 22px;
    font-weight: bold;
}

footer{
    text-align: center;
    background: url("/html-css-alura/images/bg.jpg");
    padding: 40px 0;
}

.copyright{
    color: #FFFFFF; 
    font-size: 13px;
    margin: 20px 0 0;
}

main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin-top: 30px;
    margin-bottom: 30px;
    
}   

form label, legend{
    display:block;
    margin: 0 0 10px;
    font-size: 20px;
}

.input-padrao{
    display: block;
    margin: 0 0 20px;
    padding: 10px 20px;
    width: 50%;
}

.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    border:none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.5s all;
}

.enviar:hover{
    background-color: darkorange;
    transform: scale(1.1);
}

table{
    margin: 20px 0 40px;
}

thead{
    background: gray;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}